body { 
  background: #abe0f5;
  text-align: center;
  background-position: center; 
  font-family: sans-serif; 
}


.buys {
  color: white;
  font-size: 60px;
  text-align: left;
}

.names {
 color: red;
 font-size: 30px;
} 








