body { 
  background: #abe0f5;
}

p.heading {
  font-size: 6vw;
  font-family: cursive;
  color: #FFFAF0;  
  padding-left: 25pt;
  padding-right: 10pt;
}

p.heading2 {
  font-size:5vw;
  font-family: cursive;
  color: #ff1a1a;
  line-height: 0pt;
  padding-left: 100pt;
  padding-right: 10pt;
}

/* This controls the snow */
img.gif1 {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* This controls the sheigh */
img.sheigh {
  position: relative;
  width: 40%;
  right: 5vw;
  top: 0px;
  
}

/* This is the wave */
img.wave {
  /*position: relative;*/
  top: 0px;
  width: 100%;
  height: auto;
  margin: 0;
  display:block;
}

/* This controls the white below the wave */
img.white {
  position: relative;
  width: 100%;
  display:block;
  height: 40vw;

}

/* This is the container */ 
.container {
  position: relative;
  text-align: center;
  color: white;
  z-index: -1;
}

/* This controls the instructions*/
.instructions {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  color: #abe0f5;
  font-size: 3.5vw;
  font-family: Abyssinica SIL;
} 

/* This controls the nums*/
img.num {
  position: absolute;
  top: 13vw;
  width: 4vw;
  left: 5vw;
  float: left;
}
img.num2 {
  position: absolute;
  top: 19vw;
  width: 4vw;
  left: 5vw;
  float: left;
}
img.num3 {
  position: absolute;
  top: 25vw;
  width: 4vw;
  left: 5vw;
  float: left;
}


/* Options */
.option1 {
  position: absolute;
  font-size: 3vw;
  color: black;
  top: 13vw;
  left: 12vw;
  font-family: Bitstream Charter;
}
.option2 {
  position: absolute;
  font-size: 3vw;
  color: black;
  top: 19vw;
  left: 12vw;
  font-family: Bitstream Charter;
}
.option3 {
  position: absolute;
  font-size: 3vw;
  color: black;
  top: 25vw;
  left: 12vw;
  font-family: Bitstream Charter;
}


/*present*/ 
.present {
  position: absolute;
  width: 8vw;
  top: 20vw;
  left: 61vw;
}

/*snowman*/ 
.snowman{
  position: absolute;
  width: 20vw;
  top: 11vw;
  left: 70vw;

}


/*Num of clients*/
div.border2 {
  position: absolute;
  border-style: solid;
  border-color: #000000;
  border-radius: 2vw;
  background-color: White;
  height: 25vw;
  width: 57vw;
  padding: 2vw;
  text-align: left;
  top: 65vw;
  left: 5vw;
}



/*client help*/
div.border3 {
  position: absolute;
  border-style: solid;
  border-color: #000000;
  border-radius: 2vw;
  background-color: white;
  height: 6vw;
  width: 18vw;
  padding: 2vw;
  text-align: left;
  top: 65vw;
  left: 70vw;
}



.customer {
  position: absolute;
  font-size: 2vw;
  color:navy;

}

.customer:hover {
  position: absolute;
  font-weight:bold;
}














#section2 {
  height: 155vw;
  background-color: white;
  color: #abe0f5;
  font-size: 3.5vw;
  font-family: Abyssinica SIL;
  text-align:center;
}



/*controls both forms :)*/
form {
  margin-top: 5vw;
  
}


.form-control{
  background: transparent;
  font-size: 2vw;
  width: 55vw;
  margin-bottom: 4vw;
  border: none;
  border-bottom: 0.7vw dotted navy;
}

input{
  height: 5vw;

}



form .submit {
  background: #E0E0E0;
  border:6vw black ;
  color: black;
  font-size: 3.5vw;
  font-weight: bold;
  letter-spacing: 0.2vw;
  height: 6.5vw;
}


form .submit:hover {
  background-color: Darkred;
  cursor:pointer;
  color: white;
  
}

.names {
  color: white;
  font-size: 3vw;
}

.buys {
 color: red;
 font-size: 3vw;
} 







